body {
    min-width: 1200px;
    box-sizing: border-box;
    background-image: url(/img/bckgrnd-1.png);
    background-size: 110% auto;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 1160px;
    margin: 26px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: rgba(94, 93, 88, 0.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0.50px black solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    overflow: hidden;
    z-index: 1000;
}


.logo-word {
    display: block;
    position: absolute;
    top: 20px;
    left: 13px;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 31px;
    margin-right: 6px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a svg {
    margin-right: 6px;
}

.green-text {
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
}

.logo-green-text {
    font-weight: 700;
}

.navbar ul {
    display: inline;
}

.nav-list {
    display: inline;
}

.nav-list a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25px;
    text-decoration: none;
    padding-right: 21px;
}

.nav-list a:hover {
    color: #18CFAB;
    animation: all 200ms ease-in-out;
    text-decoration: underline;
    transform: scaleX(1);
    text-underline-offset: 52px;
    cursor: pointer;
}

.greeting-container {
    margin-top: 379px;
}

.greeting {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.greeting-line-1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1px;
}

.greeting-line-2 {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}

.greeting-line-3 {
    color: #D4D4D4;
    font-size: 34px;
    font-weight: 400;
    line-height: 1px;
    margin-top: 22px;
}

.more-info-btn-container {
    text-align: center;
    margin-top: 134px;
}

.more-info-btn {
    max-width: 364px;
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 0 auto;
}

.button {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    border: none;
    border-radius: 5px;
    width: 169px;
    height: 63px;
    overflow: hidden;
    position: relative;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.button-green {
    background-color: rgba(24, 207, 171, 1);
}

.button-blue {
    background-color: rgba(0, 203, 246, 1);
}

.our-services {
    margin-top: 180px;
}

.squares-company {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 378px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.square-text {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.square-blue {
    background-color: rgba(28, 42, 51, 1);
}

.square-green {
    background-color: rgba(24, 207, 171, 1);
}

.square-1 img {
    padding-top: 65px;
}

.square p {
    padding-top: 40px;
}

.square-2 img {
    padding-top: 87px;
}

.square-3 img {
    padding-top: 67px;
}

.square-4 img {
    padding-top: 87px;
}

.square-blue .square-text {
    color: #18CFAB;
}

.about-services {
    max-width: 1160px;
    margin: 83px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-services h2 {
    color: #4E4E4E;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.about-services h2::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    top: 66px;
    left: 70px;
}

.about-services h2::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    top: 70px;
    left: 80px;
}

.services-tabs {
    display: flex;
    margin-top: 99px;
}

.serv-tabs-title {
    color: #717171;
    cursor: pointer;
    background-color: #F8FCFE;
    border: 0.50px #EDEFEF solid;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 39px;
    width: 195px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serv-tabs-title:hover {
    border: 1px #18CFAB solid;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.active {
    background-color: #18CFAB;
    color: #F8FCFE;
    position: relative;
}

.active::after {

}

.serv-tabs-content .content-container {
    display: flex;
    flex-direction: row;
}

.serv-tabs-content .image-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

.serv-tabs-content .text-container {
    flex: 1;
    color: #777777;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 25px;
}

.serv-tabs-content li {
    margin-top: 27px;
}

.buy-now {
    margin-top: 91px;
    background-image: url(/img/bckgrnd-2.png);
    background-size: 127%;
    background-repeat: no-repeat;
    height: 476px;
}

.buy-now h2 {
    color: #18CFAB;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 41px;
    text-align: center;
    padding-top: 126px;
}

.buy-now p {
    color: #D8D8D8;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
    padding-top: 12px;
    text-align: center;
}

.buy-now button {
    display: block;
    margin: 62px auto;
}

.our-work {
    background-color: rgba(233, 237, 239, 1);
    padding-bottom: 99px;
}

.our-work-wrapper {
    display: block;
    max-width: 1160px;
    margin: 0 auto;
}

.green-lines h2 {
    color: #4E4E4E;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
    padding: 96px 0 97px;
    text-align: center;
    position: relative;
    width: 376px;
    display: block;
    margin: 0 auto;
}

.green-lines h2::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    bottom: 78px;
    left: 144px;
}

.green-lines h2::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    bottom: 74px;
    left: 161px;
}

.work-tabs {
    display: flex;
    justify-content: center;
}

.work-tabs-title {
    color: #717171;
    cursor: pointer;
    background-color: rgba(233, 237, 239, 1);
    border: 0.50px #DADADA solid;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0 15px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-tab-1 {
    padding: 0 29px;
}

.work-grid {
    margin-top: 71px;
    display: grid;
    grid-template-columns: repeat(4,283px);
    grid-template-rows: repeat(3, 211px);
}

.work-active {
    border: 1px #18CFAB solid;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    color: #18CFAB;
}

.our-work-wrapper button {
    color: white;
    background-color: rgba(24, 207, 171, 1);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    border: none;
    border-radius: 5px;
    width: 169px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 70px auto;
}

.hidden-images {
    display: none;
}

.breaking-news {
    padding-bottom: 131px;
}

.breaking-news h2 {
    color: #4E4E4E;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
    width: 298px;
    display: block;
    margin: 82px auto;
    position: relative;
}

.breaking-news h2::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    top: 66px;
    left: 87px;
}

.breaking-news h2::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    top: 70px;
    left: 100px;
}

.news-grid {
    margin: 99px auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(4,263px);
    grid-template-rows: repeat(2, 208px);
    grid-gap: 130px 35px;
}

.blogs h3 {
    color: #717171;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 39px;
    padding-left: 10px;
}

.news-grid a {
    text-decoration: none;
}

.blogs span {
    color: #777777;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 39px;
    padding-left: 5px;
}

.blogs-span {
    padding-right: 36px;
    position: relative;
}

.blogs-span::after {
    content: "";
    width: 1px;
    height: 14px;
    background-color: #777777;
    display: block;
    position: absolute;
    top: 2px;
    left: 88px;
}

.news-grid a {
    position: relative;
}

.news-data {
    background-color: rgba(32, 62, 56, 1);
    width: 70px;
    height: 69px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.news-grid a:hover .blogs {
    background-color: rgba(242, 244, 245, 1);
    transition: all 200ms ease-in-out;
}

.news-grid a:hover .news-data {
    background-color: rgba(24, 207, 171, 1);
    transition: all 200ms ease-in-out;
}

.news-grid a:hover .blogs h3 {
    color: #18CFAB;
    transition: all 200ms ease-in-out;
}


.feedback {
    background-image: url(/img/people-say/layer333.png);
    background-size: 154% auto;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.feedback-container {
    max-width: 1160px;
    margin: 0 auto;
}

.feedback-container h2 {
    color: white;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
    padding: 98px 0 100px;
    width: 613px;
    margin: 0 auto;
    position: relative;

}

.feedback h2::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    left: 242px;
    bottom: 77px;
}

.feedback h2::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    bottom: 70px;
    left: 258px;
}

.feedback-container img {
    display: block;
    margin: 0 auto;
    padding-bottom: 37px;
}

.feedback-slideshow-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person-quotation {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    height: 100px;
    margin: 37px 0;
}

.person-name {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 27px;
    text-align: center;
}

.person-profession {
    color: #BBBBBB;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 50px;
}

.footer-wrapper {
    background-color: rgba(34, 53, 63, 1);
    height: 121px;
    width: 100%;
}

.footer-wrapper p {
    color: #AEAEAE;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    padding: 48px 0;
}

.footer-wrapper span {
    color: #18CFAB;
}

.feedback-slideshow {
    display: none;
    transition: opacity 0.5s ease-in-out;
}


.feedback-slideshow-text img {
    border-radius: 50%;
    width: 90px;
    height: 60px;
    object-fit: cover;
    border: 8px solid rgba(24, 207, 171, 0.2);
    position: relative;
}

.carousel-wrapper {
    margin-top: 69px;
    max-width: 1160px;
    width: 100%;
    position: relative;
}

.carousel-wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.carousel-wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.carousel-wrapper i:first-child {
    left: 22px;
}

.carousel-wrapper i:last-child {
    right: 22px;
}

.carousel-wrapper i:hover {
    background: #18CFAB;
    transition: .5s;
}

.carousel-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel-list::-webkit-scrollbar {
    display: none;
}

.carousel-list.no-transition {
    scroll-behavior: auto;
}

.carousel-list.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel-list.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel-list :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card {
    scroll-snap-align: start;
    list-style: none;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.carousel-list .carousel-card .carousel-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.carousel-card .carousel-img img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(24, 207, 171, 0.2);
}






